@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    box-sizing: border-box;

}
html,body{
    overflow-x: hidden;
}


/* Navbar css */
.navbar{
    width: 100%;
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg,#000000b3,#0000004d 72.92%,#0000);
}

.yelp-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 40px 20px 40px;
}

.yelp-nav-navContainer{
    padding: 0 40px;
    display: flex;
}
.navcontainer-end{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex:5;
    column-gap: 10px;
}

.navcontainer-start{
    flex: 1;
}

.yelp-searchbar{
    flex: 3;
    display: flex;
}
.searchbar{
    background-color: white;
    border: 0;
    display: flex;
    flex: 1;
    padding: 5px 0px;
}
.searchlocation{
    flex: 1;
    padding: 12px 0px;
    background-color: white;
    position: relative;
}

#selectOptions{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 22px;
    border-left: 2px solid;
    border-color: rgba(0, 0, 0, 0.1);

}

#separator{
    width: 1px;
    background-color: black;
}
.hide{
    visibility: hidden;
}
.select-option-dropdown{
    list-style: none;
    background-color: white;
    width: 100%;
    position: absolute;
    top:45px;  
    padding: 5px 12px;
}
.select-option-dropdown li{
padding: 7px 10px;
cursor: pointer;
border-radius: 4px;
}
.select-option-dropdown li:hover{
background-color: rgba(0, 0, 0, 0.1);
}
.yelp-logo{
    flex: 1;
}
#selectOptions img{
    width: 20px;
}
.searchlocation select{
    width: 100%;
}
.searchIcon{
    background-color: #f8121a;
    padding: 12px 12px;
    color: white;
    text-align: center;
    margin: 0;
}
.searchbar input{
   border: 0;
   width: 100%;
   padding: 0px 10px;
   outline: none;
   line-height: 1.9rem;
}
.yelp-navigationButtons{
    flex: 2;
    text-align: right;
}
.yelp-navigationButtons a{
   text-decoration: none;
   background-color:transparent;
   color: white;

   font-size: 14px;
   font-weight: 600;
   padding: 10px 7px;
   line-height: 20px;
   border-radius: 6px;
   margin-right: 8px;
}
.yelp-navigationButtons a:hover{
background-color: rgba(255, 255, 255, 0.1 );
}
.yelp-navigationButtons button{
    padding: 10px 15px;
    border-radius: 6px;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #fff;
}
.yelp-navigationButtons button:hover{
    background-color: rgba(255, 255, 255, 0.3 );
 transition: 0.2s;
}

.yelp-navigationButtons button:last-child{
background-color: #f8121a;
border: 0;
margin-left: 8px;
}

.dropdown-img{
    width: 20px;
    background-color: transparent;
}
.sub-navbar-dropdown{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12%;

    position: relative;
}
.dropdown-style{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 12px 13px 20px 13px;
    position: relative;
  cursor: pointer;
}

.dropdown-style:hover::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 2px;
    background-color: #f8121a;

}

.dropdown-style p{
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    padding-right: 4px;
}
.dropdown-style img{
    filter: invert(1);
    width: 12px;
}
.select-restuarants{
    background-color: white;
    color: black;
    list-style: none;
   width: 200%;
   display: grid;
   grid-template-columns: 6fr 6fr;
   padding: 12px 15px;
   position: absolute;
   z-index: 3;
   top:50px;
   left:0;
   border-radius: 0px 10px 10px 10px;
}
.select-restuarants li{
white-space: nowrap;
  padding: 5px 6px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.hover-effect{
    background-color: rgba(0, 0, 0, 0.1 ) !important;

}




/* Banner section css */

.yelp-Banner{
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
    height: 700px;
}
.yelp-Banner > img{
    width:100% ;
    height: 100%;
    object-fit:cover;
    vertical-align: baselinex;
}


.banneroverlay{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 161px;
  
    z-index: 1;
    /* background-color: blue; */
    background-color: linear-gradient(180deg,#000000b3,#0000004d 72.92%,#0000);

    width: 100%;
    height: 70%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4% 5% 4% 19%;
  
    color: white;
}
.bannerbox{
    display: flex;
    flex-direction: row;
    height: 70%;
}
.banner-content{
    padding: 0px 18px;
    display: flex;
    flex-direction: column;
}
.banner-content div h1{
    font-size: 45px;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.banner-content button{
   background-color: #f8121a;
    margin-top: 20px;
   padding-bottom: 12px;
   padding-left: 32px;
   padding-right: 32px;
   padding-top: 12px;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
    width: fit-content;
   justify-content: space-between;
  border-radius: 4px
}
.banner-content button span{
   color: white;

   font-size: 16px;
   letter-spacing: 0.5px;
 
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
    padding-left: 4px;
}
.banner-content button img{
    width: 20px;
    filter: invert(1);
    scale: 1.3;
}
.slidernavbutton{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.slidernavbutton button{
   height: 100%;
   width: 10px;
   background-color: white;
   margin: 5px 0px;
   border-radius: 7px;
   outline: none;
   border: none;
}

.banner-credits{
    display: flex;
    flex-direction: column !important;
}
.banner-credits p{
   padding: 3px 0px;
}
.banner-credits p:first-child{
   font-weight: 700;
}
.yelp-mobile-navbar{
   display: none;
}
@media screen and (max-width:1360px){
    .yelp-navbar{
        padding: 17px 15px 18px 15px;
    }
   .yelp-navigationButtons{
    white-space: nowrap;
   }
   .sub-navbar-dropdown{
    width: 100%;
   }
   .navcontainer-end {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* flex: 5; */
    column-gap: 10px;
    width: 100%;
    padding-left: 3%;
    padding-right: 31%;
}
}
@media screen and (max-width:1030px){
  .mobile-nav-buttons{
        display: flex !important;
        z-index: 9999999;
    }

    .yelp-searchbar{
        display: none;
    }
    .yelp-navigationButtons{
        display: none;
    }
    .active  .yelp-mobile-navbar {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
    .active .yelp-searchbar-mobile{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .active .yelp-navigationButtons-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .active .yelp-navigationButtons-mobile a{
        color: white;
        font-weight: 500;
        font-size: 17px;
        text-decoration: none;
        cursor: pointer;
        padding: 9px;
        background-color: rgba(255, 255, 255, 0.2 ) ;
        width: 100%;
        text-align: center;
        margin-bottom:8px ;
    }
    .active  .yelp-navigationButtons-mobile a:last-child{
      margin-bottom: 40px;
    }
    .active .yelp-navigationButtons-mobile button{
      background-color: #f8121a;
      color: white;
      font-weight: 500;
      font-size: 17px;
      text-decoration: none;
        border: none;
        outline: none;
        width: 100%;
      padding: 9px;
      margin-top: 8px ;
    }
    .active .yelp-navigationButtons-mobile button:first-child{
     margin-top: 40px;
    }
    .active .mobile-nav-icons[name="close-outline"]{
        display: block;
        color:white;
        position:absolute;
    
        right: 10px;
        cursor: pointer;
    }
    .active .mobile-nav-icons[name="menu-outline"]{
        display: none;
        color:white;
        position:absolute;
        top:5px;
        right: 10px;
        cursor: pointer;
    }
  .mobile-nav-icons[name="close-outline"]{
        display: none;
    }
    .mobile-nav-icons[name="menu-outline"]{
        display: block;
        cursor: pointer;
    }
    .yelp-nav-navContainer{
        display: none;
    }
}
@media screen and (max-width:768px){
    .banner-content button{
        padding: 7px;
    }
    .banner-content button span{
        font-size: 14px;
    }
    .banner-content h1{
        font-size: 25px !important;
    }
}

/*--------------- Responsive mobile screen css---------------------- */

.mobile-nav-buttons{
    color: white;
    display: none;
}
.mobile-nav-icons{
    width: 37px;
    height: 37px;
}


/* Recent activity section */

.fill{
    height: 92vh;
    width: 100vw;
}

.section-heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 17px;
}
.recentactivity{
    padding: 0rem 11rem;
}
.recent-activity-cards{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap:30px;
}
.card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 376px;
    padding: 16px 24px;
    border-color: #ebebeb;
    border: 1px solid #ebebeb;
}
.img-header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items:center;
}
.img-header img{
    width: 55px;
    height: 55px;
    margin-right: 1%;
    border-radius: 50%;
}
.img-header p{
   font-weight: lighter;
   font-size: 14px;
}
.Description{
    padding: 12px 0px;
 
    color: rgba(2,122,151,1);
    font-weight: bold;
    text-align: start;
}
.image-section{
    display: flex;
    width: 100%;
    justify-content: center;
}
.image-section img{
    height: 168px !important;
    width:155px !important;
    border-radius: 3%;

}
.image-section div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border: 1px solid #ebebeb;
  padding-bottom: 1rem;

}
.image-section div:first-child{
  border-right: 0;
  padding-right: 10px;
}
.image-section div:last-child{
  border-left: 0;
}
.card-icons{
    margin-top: 15px;
    scale: 1.4;
    padding-left: 1%;
}
.recent-section{
    margin-top: -4rem;
}



/* Categories css */

.categories{
    padding: 0rem 11rem;
}
.categories > h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 17px;
    margin-top: 3rem;
 margin-bottom: 2rem;
}
.cardContainer{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 30px;
}
.categoryCard{
    border: 1px solid #ebebeb;
    padding: 48px 0px;
    width: 254px;
    height: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.categoryCard h2{
  font-size: 16px;
  font-weight: 600;
}
.categoryCard:hover{
    box-shadow: 0 0 10px 0 #00000026;
}
.footer{
    background-color: #f7f7f7;
    padding: 1rem 1rem;
    font-weight: 500;
    font-size: 13px;

}